.flex-wrapper {
    @apply w-full relative pb-6 mb-8;
    @apply grid gap-3;
    // grid-template-columns: auto;
    min-height: (400px - 56px) * 2;
    resize: vertical;
    overflow: hidden;

    @screen lt-sm {
        grid-template-rows: auto auto;
        // grid-flow: rows;

        // @apply grid-flow-row;
    }

    @screen sm {
        min-height: 350px - 56px;
        grid-template-columns: auto auto;

        @apply grid-rows-1;
    }

    @screen md {
        min-height: 400px - 56px;
    }
}

.emulate-monaco {
    font-family: Consolas, "Courier New", monospace;
    font-weight: normal;
    font-size: 14px;
    font-feature-settings: "liga" 0, "calt" 0;
    line-height: 19px;
    letter-spacing: 0px;
    word-break: break-word;
    padding-left: 64px;
    padding-right: 14px;
}

.app {
    @apply border border-gray-200 dark:border-transparent;
    @apply rounded-lg shadow-lg;
    @apply bg-white relative block;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 100%;

    resize: horizontal;

    @screen lt-sm {
        resize: vertical;
    }

    overflow: hidden;

    font-family: Consolas, "Courier New", monospace;
    font-weight: normal;
    font-size: 14px;
    font-feature-settings: "liga" 0, "calt" 0;
    line-height: 19px;
    letter-spacing: 0px;
}

.app#output {
    resize: none;
    height: 100%;
}

.push-to-side {
    @apply flex align-middle justify-end flex-1 gap-2;
    flex-wrap: nowrap;

    .btn {
        margin: 0;
    }
}

.push-to-side-overflow {
    overflow-x: auto;
    position: relative;
    display: flex;
}

.file-size {
    @apply inline-block px-4 py-2 rounded-md;
    @apply text-center flex justify-center items-center;
    @apply bg-gray-200 dark:bg-quaternary;
    @apply text-gray-500 dark:text-secondary;
    min-width: theme("spacing.40");
    min-height: theme("spacing.12");
}

#editor {
    transition: opacity ease 0.6s;
    height: 100%;
    opacity: 0;
    // height: calc(100% - 30px);
    // min-height: 400px - 30px - 56px;

    @screen lt-md {
        // min-height: 300px - 30px - 56px;
    }

    &.show {
        opacity: 1;
    }
}

.monaco-editor .peekview-widget .monaco-list .monaco-list-row .codicon {
    padding-right: 14px;
}

.loading {
    @apply block mx-auto w-8 h-8 rounded-full;
    border-width: theme("spacing.1");
    border-color: theme("colors.gray.300");
    border-top-color: theme("colors.blue.500");
    animation: spin 1s linear infinite;
}

.dark .app {
    background-color: #24292e;
}

.dark .center-container {
    background-color: #121212;

    @supports (backdrop-filter: blur(8px)) {
        @apply bg-center-container-dark bg-opacity-20;
    }
}

.dark .loading {
    border-color: theme("colors.tertiary");
    border-top-color: theme("colors.blue.400");
}

.center-container {
    @apply absolute top-0 left-0 w-full h-full;
    @apply grid justify-center content-center;
    @apply z-10;
    background-color: #f8f8f8;

    @supports (backdrop-filter: blur(8px)) {
        @apply bg-white;
        @apply backdrop-filter backdrop-blur bg-opacity-20;
    }

    p {
        @apply mt-2;
    }
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

#bundle-time {
    @apply flex items-center;
}

#editor {
    /* height: 100%; */
    width: 100%;
}

.current-line {
    width: calc(100% - 20px);
    border-radius: 4px;
}
