.navbar {
    @apply fixed top-0 left-0 w-full z-50;

    @supports (backdrop-filter: blur(5px)) {
        @apply backdrop-filter backdrop-blur dark:backdrop-blur-lg;
    }

    .container {
        @apply sm:max-w-screen-xl px-5 h-full relative;
    }

    .navbar-bg {
        // transition: background-color ease 0.25s;
        @apply absolute top-0 left-0 w-full h-full px-5;
        @apply bg-white dark:bg-black;
    }

    &.shadow .navbar-bg {
        @apply dark:bg-elevated;
    }

    .navbar-bg,
    &.shadow .navbar-bg {
        @supports (backdrop-filter: blur(5px)) {
            @apply dark:bg-opacity-60;
        }
    }

    .navbar-frame {
        @apply flex flex-wrap items-center justify-between relative;
        @apply w-full py-2;
    }

    .navbar-shadow {
        transition: opacity ease 0.25s;
        box-shadow: 0 4px 15px rgb(0 0 50 / 8%);
        @apply absolute top-0 left-0 w-full h-full;
        @apply opacity-0;
    }

    &.shadow .navbar-shadow {
        @apply opacity-100;
    }

    .navbar-border {
        // transition: border-color ease 0.25s;
        @apply absolute top-0 left-0 w-full h-full;
        @apply border-b border-gray-200;
        @apply dark:border-elevated;
    }

    &.shadow .navbar-border {
        @apply border-gray-300;
        @apply dark:border-tertiary;
    }
}

@supports (padding-top: env(safe-area-inset-top, 0)) {
    .navbar {
        top: env(safe-area-inset-top, 0);
        left: env(safe-area-inset-left, 0);
        width: calc(
            100% - env(safe-area-inset-right, 0) - env(safe-area-inset-left, 0)
        );
    }
}

.navbar-offset {
    @apply mt-16;
}

@supports (padding-top: env(safe-area-inset-top, 0)) {
    .navbar {
        padding-top: env(safe-area-inset-top, 0);
    }
}

.navbar-collapse {
    @apply items-center;

    @screen lt-md {
        --height: 100vh;
        transition: height ease-out 0.35s;
        @apply flex-grow;
        flex-basis: 100%;
        overflow-y: hidden;

        &.show {
            height: 100%;
            height: var(--height, 100vh);
        }

        &.collapse {
            height: 0;
        }
    }
}

.navbar-list {
    @apply flex lt-sm:flex-col flex-nowrap px-1;
}

.navbar-logo {
    @apply dark:hover:text-blue-500;
    @apply text-xl font-bold ml-1;
}

.navbar-list a {
    @apply sm:mx-1 lt-sm:w-full lt-sm:my-1;
    @apply font-medium;
}

.navbar-logo,
.navbar-list a {
    @apply px-3 py-2 rounded-md no-underline hover:bg-gray-200;
    @apply dark:text-blue-400 dark:hover:bg-quaternary;

    &.active {
        @apply bg-blue-600 text-white hover:bg-blue-700;
        @apply dark:bg-blue-400 dark:text-black dark:hover:bg-blue-500;
    }

    &:hover {
        @apply bg-opacity-60;
    }
}

.navbar-toggle,
.theme-toggle,
.navbar-logo,
.navbar-list a {
    transition: border-color 0.2s ease-out, box-shadow 0.2s ease-out;

    @screen md {
        transition: background-color 0.15s ease-out, color 0.15s ease-out,
            border-color 0.2s ease-out, box-shadow 0.2s ease-out;
    }
}

.navbar.shadow .to-top {
    @apply opacity-100;
}
