mixin seo(page)
  - let { title, url, description, websiteURL, keywords } = page;

  meta(name="og:locale" content="en_Us")
  meta(property="og:type" content="website")
  meta(name="keywords", content=keywords)

  meta(property="article:author" content="Okiki Ojo")
  meta(property="og:site_name" content=websiteURL.replace("https://", ""))

  meta(name="contact" content="hey@okikio.dev")

  meta(property='image' content=`${websiteURL}/favicon/social-preview.png`)
  meta(property='og:image' content=`${websiteURL}/favicon/social-preview.png`)

  meta(name="twitter:card" content="summary_large_image")
  
  meta(name="twitter:image" content=`${websiteURL}/favicon/social-preview.png`)
  meta(property="twitter:image:alt" content="An image of bundle's logo.")
  
  meta(name='twitter:url' content=`${websiteURL}${url}`)
  meta(name="twitter:site", content="@okikio_dev")
  meta(name="twitter:creator" content="@okikio_dev")

  block title
    title= title
  meta(name='title' content=title)
  meta(itemprop='name' content=title)
  meta(property='og:title' content=title)
  meta(name='twitter:title' content=title)
  meta(name="apple-mobile-web-app-title", content=title)

  link(rel="home", href=`/`)
  link(rel="relative-url", href=`${url}`)
  link(rel="canonical" href=`${websiteURL}${url}`)
  meta(itemprop='url' content=`${websiteURL}${url}`)
  meta(name="shortlink" content=`${websiteURL}${url}`)
  meta(property='og:url' content=`${websiteURL}${url}`)

  meta(name='description' content=description)
  meta(property='og:description' content=description)
  meta(property='twitter:description' content=description)
  meta(itemprop='description' content=description)

  meta(name="web-author" content="Okiki Ojo")