extends /layouts/layout.pug

block content
  #about.container.max-w-screen-lg
    h2.text-center about
    +product-hunt
      
    p 
      strong bundle
      |  is a quick and easy way to bundle your projects, minify and see it's gzip size. It's an online tool similar to
      a(href="https://bundlephobia.com" target="_blank" rel="noopener")  bundlephobia
      | , but 
      strong bundle
      |  does all the bundling locally on you browser and can treeshake and bundle multiple packages (both commonjs and esm) together, all without having to install any npm packages and with typescript support.
      br
      br

    p
      | I used
      a(href="https://github.com/microsoft/monaco-editor" target="_blank" rel="noopener")  monaco-editor
      |  for the code-editor,
      a(href="https://github.com/evanw/esbuild" target="_blank" rel="noopener")  esbuild 
      |  and
      a(href="https://github.com/rollup/rollup" target="_blank" rel="noopener")  rollup
      |  as bundler and treeshaker respectively,
      a(href="https://github.com/nodeca/pako" target="_blank" rel="noopener")  pako
      |  as a js port of the zlib and gzip libraries, 
      a(href="https://github.com/sindresorhus/pretty-bytes" target="_blank" rel="noopener")  pretty-bytes
      |  to convert the gzip size to human readable values, and 
      a(href="https://github.com/mlomb/countapi-js" target="_blank" rel="noopener")  countapi-js
      |  to keep track of the number of page visits, in a private and secure way.
      br
      br
      | This project was greatly influenced by 
      a(href="https://github.com/hardfist" target="_blank" rel="noopener") @hardfists
      a(href="https://github.com/hardfist/neo-tools" target="_blank" rel="noopener")  neo-tools
      |  and 
      a(href="https://github.com/mizchi" target="_blank" rel="noopener") @mizchi's
      a(href="https://github.com/mizchi/uniroll" target="_blank" rel="noopener")  uniroll
      |  project.
      br
      br
      span= "The project isn't perfect, I am still working on an autocomplete, hover intellisence, better mobile support and the high memory usage of "
      strong esbuild
      span= " and "
      strong monaco
      span= " as well as some edge case packages, e.g. "
      strong monaco-editor.
      br
      br
      | If there is something I missed, a mistake, or a feature you would like added please create an issue or a pull request and I'll try to get to it. You can contribute to this project at
      a(href="https://github.com/okikio/bundle" target="_blank" rel="noopener")  okikio/bundle.
      br
      br
      strong bundle
      |  uses
      a(href="https://www.conventionalcommits.org/en/v1.0.0/" target="_blank" rel="noopener")  Conventional Commits
      |  as the style of commit, and the
      a(href="http://commitizen.github.io/cz-cli/" target="_blank" rel="noopener")  Commitizen CLI
      |  to make commits easier.
      br
      br
      | You can join the discussion on
      a(href="https://github.com/okikio/bundle/discussions" target="_blank" rel="noopener")  github discussions
      | .

    br
