@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@import "./components/_fonts";
@import "./components/_navbar";
@import "./components/_monaco";
@import "./components/_search";
@import "./components/_highlightjs";

html,
body {
    scroll-behavior: smooth;
    scrollbar-gutter: stable both-edges;
}

html {
    accent-color: theme("colors.blue.500");
}

html.dark {
    color-scheme: dark light;
    accent-color: theme("colors.blue.400");
}

body {
    @apply bg-white text-black;
    @apply dark:bg-black dark:text-label;
    @apply font-manrope;
    font-size: 1rem;
    line-height: 1.5;
}

.no-overflow-x {
    overflow-x: hidden;
}

.icon {
    -webkit-font-feature-settings: "liga" off, "dlig";
    -moz-font-feature-settings: "liga=0, dlig=1";
    font-feature-settings: "liga", "dlig";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-family: "Material Icons Round", "Material Icons";
    vertical-align: middle;
    letter-spacing: normal;
    display: inline-block;
    text-decoration: none;
    text-transform: none;
    white-space: nowrap;
    font-weight: normal;
    position: relative;
    font-style: normal;
    word-wrap: normal;
    font-size: 24px;
    line-height: 1;
    direction: ltr;
    height: 1em;
    width: 1em;
}

a {
    @apply text-blue-500 hover:text-blue-700 no-underline;
    @apply dark:text-blue-400 dark:hover:text-blue-200;
}

input,
button,
a {
    -webkit-tap-highlight-color: transparent;
}

button,
a {
    transition: box-shadow 0.2s ease-out;
    @apply focus-visible:ring-4 focus-visible:ring-blue-500 focus-visible:ring-opacity-50;
    @apply rounded-md focus:outline-none;
}

@screen sm {
    .desktop {
        display: block;
    }

    .mobile {
        display: none;
    }
}

@screen lt-sm {
    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }
}

main {
    .container {
        @apply px-5 py-2 sm:max-w-screen-md;

        word-wrap: break-word;

        @supports (padding-top: env(safe-area-inset-top, 0)) {
            padding-right: calc(theme("spacing.5") + env(safe-area-inset-right));
            padding-left: calc(theme("spacing.5") + env(safe-area-inset-left));
        }
    }

    strong {
        @apply font-extrabold dark:font-medium dark:underline;
    }

    header {
        @apply p-6 text-center;

        h1 {
            @apply text-5xl font-bold mb-2;
        }

        p {
            @apply text-lg font-medium;
        }
    }

    #about,
    #faq {
        @apply px-5 pt-24;

        p {
            @apply text-lg;
        }

        img {
            display: inline-block;
        }
    }

    h2 {
        @apply text-5xl font-bold mb-8;
    }

    h2#usage {
        @apply text-4xl font-bold my-8;
    }

    h4 {
        @apply text-2xl font-bold mb-2;
    }
}

#product-hunt {
    @apply flex mb-6;

    figure {
        position: relative;
        width: 250px;
        height: 54px;
        overflow: hidden;
    }

    img {
        width: 100%;
        height: 100%;
    }
}

html:not(.dark) #product-hunt img:not(.dark),
html.dark #product-hunt img.dark {
    @apply block;
}

html:not(.dark) #product-hunt img.dark,
html.dark #product-hunt img:not(.dark) {
    @apply hidden;
}

html.dark hr {
    border-top-color: theme("colors.quaternary");
}

footer.footer {
    @apply text-gray-600 text-right dark:text-secondary;

    .container {
        @apply p-5 align-middle sm:max-w-screen-md;
    }
}

#copy-input {
    position: absolute;
    top: -50px;
    left: -50px;
    opacity: 0;
    // width: 1px;
    // visibility: hidden;
}

.navbar-toggle,
.theme-toggle,
.intall-btn,
.btn-icon {
    @apply rounded-md;
    @apply mr-1 w-10 h-10 text-blue-500 bg-gray-100 hover:bg-gray-200 active:bg-blue-200;
    @apply dark:text-blue-400 dark:bg-quaternary;
    @apply dark:hover:bg-gray-800 dark:active:bg-gray-700;
    @apply focus-visible:border-blue-600 focus-visible:ring-4 focus:rounded-md;
}

.btn-icon {
    @apply bg-white hover:bg-gray-100 active:bg-blue-200;
    @apply dark:text-blue-400 dark:bg-tertiary;
    @apply dark:hover:bg-gray-800 dark:active:bg-gray-700;
    @apply focus-visible:border-blue-600 focus-visible:ring-4 focus:rounded-md;
}

.btn-highlight {
    @apply rounded-md mr-1 inline-block;
    @apply text-blue-500 bg-gray-100 hover:bg-gray-200 active:bg-blue-200;
    @apply dark:text-blue-400 dark:bg-quaternary;
    @apply dark:hover:bg-gray-800 dark:active:bg-gray-700;
    @apply focus-visible:border-blue-600 focus-visible:ring-4 focus:rounded-md;
}

.btn {
    transition: opacity ease 0.25s;
    @apply px-3 py-2 rounded-md no-underline hover:bg-gray-200;
    @apply text-blue-600 dark:text-blue-400 dark:hover:bg-quaternary;

    &.active {
        @apply bg-blue-700 text-white hover:bg-blue-500;
        @apply dark:bg-blue-400 dark:text-black dark:hover:bg-blue-500;
    }

    &:hover {
        @apply bg-opacity-60;
    }
}

.btn-share {
    @apply rounded-md ml-2;
    @apply text-blue-500 bg-gray-100 hover:bg-gray-200;
    @apply dark:text-blue-400 dark:bg-quaternary;
    @apply dark:hover:bg-gray-800 dark:active:bg-gray-700;
    @apply focus-visible:border-blue-600 focus-visible:ring-4 focus:rounded-md;
}

.opacity-0 {
    opacity: 0;
}

.offline-icon {
    @apply px-3 py-2 rounded-md;
    @apply flex items-center justify-center bg-blue-600 text-black;
    &.online {
        display: none;
    }
    svg {
        vertical-align: middle;
        fill: currentColor;
        width: 1em;
    }
}

.editor-btns {
    transition: opacity ease 0.8s;
    @apply absolute bottom-2 right-0 px-5 w-full flex-wrap;
    opacity: 0;
    pointer-events: none;
    @apply flex gap-2;
}

.editor-btns.delay {
    opacity: 1;
}

.app:hover .editor-btns,
.app:focus-within .editor-btns {
    transition: opacity ease-out 0.5s;
    opacity: 1;
    pointer-events: none;
}

.editor-btns {
    button {
        @apply flex items-center justify-center;
        @apply bg-gray-100 dark:bg-gray-600 text-blue-400 dark:text-white;
        @apply hover:bg-gray-200 dark:hover:bg-gray-700;
        @apply px-3 py-2 rounded-md z-10;
        @apply flex items-center justify-center;
        pointer-events: auto;

        @supports (backdrop-filter: blur(5px)) {
            @apply bg-opacity-50 dark:bg-opacity-50 backdrop-filter backdrop-blur-sm;
        }

        svg {
            @apply text-lg;
            vertical-align: middle;
            fill: currentColor;
            width: 1em;
        }
    }

    .copy-container {
        @apply relative z-10;
    }

    .editor-info {
        @apply absolute top-0 right-0 z-0;
        transform: translateY(100px);

        &,
        &:hover {
            @apply bg-white dark:bg-gray-800  text-blue-500 dark:text-blue-500;

            @supports (backdrop-filter: blur(5px)) {
                @apply bg-opacity-50 dark:bg-opacity-60 backdrop-filter backdrop-blur-sm;
            }
        }
    }
}

.prompt-container {
    @apply w-full h-full z-10 flex items-end justify-end;
    @apply fixed top-0 left-0 pointer-events-none;
    @apply px-2 sm:px-6 py-4 z-20;

    .horz {
        @apply w-full relative;
        max-width: theme("spacing.96");
    }
}

.info-prompt {
    @apply flex items-center w-full;
    @apply p-2 bg-gray-200 dark:bg-gray-900 rounded-lg;
    @apply pointer-events-auto;
    @apply absolute bottom-0 right-0;
    transform: translateY(200px);

    @supports (backdrop-filter: blur(5px)) {
        @apply bg-opacity-70 dark:bg-opacity-80;
        @apply backdrop-filter backdrop-blur;
    }

    &.reload {
        @apply flex-col p-1;

        p {
            @apply pt-3 pb-5;
        }
    }

    p {
        @apply px-3;
    }

    .btn {
        @apply hover:bg-gray-100 hover:bg-opacity-90 dark:hover:bg-gray-600 dark:hover:bg-opacity-50;
    }
}

.btn,
.navbar-toggle,
.theme-toggle {
    @apply mr-1;
}

.theme-toggle {
    @apply rounded-md;
    @apply w-10 h-10 text-blue-500 bg-gray-100 hover:bg-gray-200;
    @apply dark:text-blue-400 dark:bg-quaternary;
    @apply dark:hover:bg-gray-800 dark:active:bg-gray-700;
    @apply focus-visible:border-blue-600 focus-visible:ring-4 focus:rounded-md;
}

.theme-options {
    @apply px-2 py-2 rounded-md ml-2;
    // color-scheme: light;
}

// html.dark .theme-options {
//     color-scheme: dark;
//     @apply bg-black;
// }