include /components/navbar.pug
include /components/footer.pug
include /components/product-hunt.pug
include /components/seo.pug

doctype html
html.dark(lang="en")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')

    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='viewport' content='initial-scale=1, viewport-fit=cover')


    link(rel='apple-touch-icon', sizes='180x180', href='./favicon/apple-touch-icon.png')
    link(rel='icon', type='image/png', sizes='32x32', href='./favicon/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='16x16', href='./favicon/favicon-16x16.png')
    link(rel='mask-icon', href='./favicon/safari-pinned-tab.svg', color='#3b82f6')
    link(rel='shortcut icon', href='./favicon/favicon.ico')

    meta(name='msapplication-TileColor', content='#3b82f6')
    meta(name='msapplication-config', content='./favicon/browserconfig.xml')

    meta(name='theme-color', content='#ffffff' media="(prefers-color-scheme: light)")
    meta(name='theme-color', content='#000000' media="(prefers-color-scheme: dark)")

    link(rel='search' href='https://bundle.js.org/open-search.xml' type='application/opensearchdescription+xml' title='bundle')

    link(rel="icon", type="image/svg+xml" href="./favicon/favicon.svg")
    link(rel="manifest", href="./manifest.json")

    meta(name="web-author" content="Okiki Ojo")
    meta(name="robots" content="index, follow")

    //- link(rel='preconnect' href='https://fonts.gstatic.com')
    //- link(rel="preload" href='https://fonts.gstatic.com/s/manrope/v4/xn7gYHE41ni1AdIRggexSg.woff2' as="font" type="font/woff2" crossorigin)
    //- link(rel="preload" href="https://fonts.gstatic.com/s/materialiconsround/v62/LDItaoyNOAY6Uewc665JcIzCKsKc_M9flwmP.woff2" as="font" type="font/woff2" crossorigin)
    link(rel='stylesheet' href='./css/app.min.css')

    //- link(href='https://fonts.googleapis.com/css2?family=Manrope:wght@500;600;700;800&display=swap' rel='stylesheet' async)
    //- link(href='https://fonts.googleapis.com/css2?family=Material+Icons&family=Material+Icons+Round&display=block' rel='stylesheet' async)

    -
      let defaults = {
        url: "/",
        websiteURL: "https://bundle.js.org",
        title: "bundle - a quick npm package size checker",
        description: "bundle is a quick and easy way to bundle your projects, minify and see it's gzip size, it's similar to bundlephobia but does all the work locally on you computer and can treeshake and bundle multiple packages (both commonjs and esm) together.",
        keywords: "bundle, rollup, esbuild, gzip, minify, es2020, monaco-editor, typescript"
      };
    block pageInfo
      - let page = {};

    -
      page = Object.assign({}, defaults, page, {
        keywords: ("keywords" in page) ? page.keywords : defaults.keywords
      });

    block seo
      +seo(page)

    block preload
  body
    +navbar

    .prompt-container
      .horz
        .info-prompt.offline-ready
          p Ready to work offline!
          .flex-1
          button.btn.dismiss(type="button") DISMISS
        .info-prompt.reload
          p New content is available. Click OK to refresh all open tabs.
          .flex-1
          div.flex.self-end
            button.btn.accept(type="button") OK
            button.btn.dismiss(type="button") DISMISS

    .navbar-offset
    main#main(data-wrapper)
      block content

    block footer
      +footer
    
    script(src='./js/theme.min.js' type='module' async)
    script(src='./js/critical.min.js' type='module' async)

    //- script(src="https://cdn.polyfill.io/v3/polyfill.min.js?features=default,es2015,es2018,Array.prototype.includes,Promise,Intl" async)
    //- script(src="https://polyfill.io/v3/polyfill.min.js?features=default%2Ces2015%2Ces2018%2CIntl%2CArray.prototype.includes%2CPromise" async)
    //- script(src="https://cdn.polyfill.io/v3/polyfill.min.js?features=requestIdleCallback" async)

    block script

    script(type="application/ld+json").
      {
        "@context":"https://schema.org",
        "@graph":[
          {
            "@type":"Organization",
            "@id":"#{defaults.websiteURL}/#organization",
            "name":"bundle",
            "url":"#{defaults.websiteURL}",
            "sameAs":[
              "https://www.producthunt.com/posts/bundle-6",
              "https://bundle.js.org",
              "https://github.com/okikio/bundle",
              "https://okikio.github.io/bundle",
              "https://bestofjs.org/projects/bundle"
            ],
            "description":"#{defaults.description}",
            "logo":{
              "name":"bundle",
              "@type":"ImageObject",
              "@id":"#{defaults.websiteURL}/#logo",
              "url":"#{defaults.websiteURL}/favicon/android-chrome-512x512.png",
              "width":512,
              "height":512,
              "caption":"bundle's logo"
            },
            "contactPoint":[
              {
                "@type":"ContactPoint",
                "url":"#{defaults.websiteURL}",
                "email":"mailto:hey@okikio.dev",
                "contactType":"customer service"
              }
            ]
          },
          {
            "@type":"WebSite",
            "@id":"#{defaults.websiteURL}/#website",
            "url":"#{defaults.websiteURL}",
            "description":"#{defaults.description}",
            "logo":{
              "name":"bundle",
              "@type":"ImageObject",
              "@id":"#{defaults.websiteURL}/#logo",
              "url":"#{defaults.websiteURL}/favicon/android-chrome-512x512.png",
              "width":512,
              "height":512,
              "caption":"bundle's logo"
            },
            "contactPoint":[
              {
                "@type":"ContactPoint",
                "url":"#{defaults.websiteURL}",
                "email":"mailto:hey@okikio.dev",
                "contactType":"customer service"
              }
            ],
            "sameAs":[
              "https://www.producthunt.com/posts/bundle-6",
              "https://bundle.js.org",
              "https://github.com/okikio/bundle",
              "https://okikio.github.io/bundle",
              "https://bestofjs.org/projects/bundle"
            ],
            "mainEntityOfPage":{
              "@type":"WebPage",
              "@id":"#{defaults.websiteURL}/index.html#main",
              "lastReviewed":"Mon August 09 2021 16:00:00 GMT-0400"
            },
            "about":{
              "@id":"#{defaults.websiteURL}/about.html"
            },
            "name":"bundle",
            "publisher":{
              "@id":"https://github.com/okikio"
            },
            "copyrightYear":"2021",
            "copyrightHolder":[
              {
                "@id":"https://github.com/okikio"
              }
            ]
          },
          {
            "@type":"WebPage",
            "@id":"#{page.websiteURL + page.url}#webpage",
            "url":"#{page.websiteURL + page.url}",
            "description":"#{page.description}",
            "inLanguage":"en",
            "name":"#{page.title}",
            "isPartOf":{
              "@id":"#{defaults.websiteURL}/#website"
            },
            "about":{
              "@id":"#{defaults.websiteURL}/about.html"
            }
          }
        ]
      }